@{
    ViewData["Title"] = "PRATIKA";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/cadastroUsuario.js" defer></script>
    <title>PRATIKA</title>
</head>
<body>
    <!-- Título acima da caixa -->
    <label class="title">PRATIKA</label>

    <!-- Caixa centralizada com campos de login -->
    <div class="login-box">
        <div id="divImagemPerfil" hidden>
            <label>Imagem Selecionada:</label>
            <br>
            <img id="imagePreview" src="#" alt="Imagem do perfil" />
        </div>
        <br>
        <form id="uploadForm">
            <input type="file" id="imagemInput" onchange="cadastroUsuario().inserirImagem(this);" accept="image/png, image/jpeg" required>
        </form>   
        <br>   
        <input name="textboxNomeUsuario" id="textboxNomeUsuario" type="text" placeholder="Nome de Usuário">
        <br>
        <input name="textboxNome" id="textboxNome" type="text" placeholder="Nome">
        <br>
        <input name="textboxSobrenome" id="textboxSobrenome" type="text" placeholder="Sobrenome">
        <br>
        <input name="textboxEmail" id="textboxEmail" type="text" placeholder="Email">
        <br>
        <input name="textboxSenha" id="textboxSenha" type="password" placeholder="Senha">
        <br>
        <input name="textboxConfirmacaoSenha" id="textboxConfirmacaoSenha" type="password" placeholder="Confirme sua senha">
        <br>
        <input name="textboxDataNascimento" id="textboxDataNascimento" type="date" placeholder="Data de nascimento">
        <br>
        <textarea name="textareaDescricao" id="textareaDescricao" type="text" placeholder="Descrição"></textarea>
        <br>
        <select name="comboGenero" id="comboGenero" placeholder="Genero">
            <option value="" disabled selected>Selecione um Gênero</option>
            <option>Masculino</option>
            <option>Feminino</option>
            <option>Outro</option>
        </select>
        <select name="comboPerfil" id="comboPerfil">
            <option value="" disabled selected>Selecione um Perfil</option>
            <option>Básico</option>
            <option>Premium</option>
        </select>
        <br>
        <button class="botao-login" name="btnCadastrar" id="btnCadastrar" onclick="cadastroUsuario().cadastrarUsuario();">Cadastrar</button>
    </div>

</body>
</html>
