@{
    ViewData["Title"] = "PRATIKA";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <script src="../js/loginUsuario.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>PRATIKA</title>
</head>

<body>

    <main>
        <!-- Caixa centralizada com campos de login -->
        <div class="login-box">
            <img src="../img/Component-19.png">
            <label>Login</label>
            <input class="input-senha-email" name="textboxLogin" id="textboxLogin" type="text">
            <br>
            <label>Senha</label>
            <input class="input-senha-email" name="textboxSenha" id="textboxSenha" type="password">
            <br>
            <div style="display: flex">
                <label class="forgot-password" onclick="alert('Recuperação de senha iniciada')">Esqueci minha senha</label>
                <a class="forgot-password" asp-area="" asp-controller="Home" asp-action="CadastroUsuario">Cadastre-se</a>
            </div>
            <br>
            <button class="botao-login" name="" id="btnLogin" onclick="loginUsuario().validacaoLogin();">Login</button>
        </div>
    </main>

</body>

</html>
