@{
    ViewData["Title"] = "PRATIKA";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <script src="../js/menu.js" defer></script>
    <link rel="stylesheet" href="../css/menu.css">
=======
    <script src="../js/loginUsuario.js"></script>
>>>>>>> 7d0ba4c94f243bb222bcdce238d2a1df89dc5f45
    <title>PRATIKA</title>
</head>

<body>

<<<<<<< HEAD
    <main>
        <!-- Caixa centralizada com campos de login -->
        <div class="login-box">
            <img src="../img/Component-19.png">
            <label>Login</label>
            <input class="input-senha-email" name="textboxLogin" id="textboxLogin" type="text">
            <br>
            <label>Senha</label>
            <input class="input-senha-email" name="textboxSenha" id="textboxSenha" type="password">
            <br>
            <label class="forgot-password" onclick="alert('Recuperação de senha iniciada')">Esqueci minha senha</label>
            <br>
            <button class="botao-login" name="" id="btnLogin" onclick="menu().verificaUsuarioAjax();">Login</button>
        </div>
    </main>
=======
    <!-- Caixa centralizada com campos de login -->
    <div class="login-box">
        <input name="textboxLogin" id="textboxLogin" type="text" placeholder="Login">
        <br>
        <input name="textboxSenha" id="textboxSenha" type="password" placeholder="Senha">
        <br>
        <a name="lblEsqueciSenha" id="lblEsqueciSenha" class="navbar-brand" style="font-size: 100%" onclick=""
            asp-area="" asp-controller="Home" asp-action="CadastroUsuario">Esqueci minha senha</a>
        <br>
        <a name="lblCadastroUsuario" id="lblCadastroUsuario" class="navbar-brand" style="font-size: 100%" onclick=""
            asp-area="" asp-controller="Home" asp-action="CadastroUsuario">Cadastre-se</a>
        <br>
        <button class="botao-login" name="btnLogin" id="btnLogin" onclick="loginUsuario().validacaoLogin();">Login</button>
    </div>
>>>>>>> 7d0ba4c94f243bb222bcdce238d2a1df89dc5f45

</body>

</html>
