<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timeline estilo Twitter</title>
  <link rel="stylesheet" href="../css/comunidade.css">
  <script src="../js/comunidade.js"></script>
</head>

<body>
  <div class="sidebar-container">
    @await Html.PartialAsync("_MenuLateral")
  </div>
  <div id="modalContainer" style="display: none;">
    <!-- O conteúdo da modal será inserido aqui via AJAX -->
</div>
  <div class="timeline">
    <div class="tweet">
      <div class="icons">
        <img src="../img/pump_vazio.png" alt="Clique e dê um PUMP!" class="pump">
        <label>123k</label>
        <img src="../img/relevancia_vazia.png" alt="Aumente a relevância desse post!" class="relevancia">
        <label>90k</label>
      </div>
      <div class="profile-pic"></div>
      <div class="tweet-content">
        <div>
          <span class="username">João Silva</span>
          <span class="handle">@@joaosilva</span>
        </div>
        <div class="content">
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
          Esse é um exemplo de um tweet! Com flexbox, é fácil alinhar elementos em uma timeline.
        </div>
      </div>
    </div>
    <div class="tweet">
      <div class="icons">
        <img src="../img/pump_vazio.png" alt="Clique e dê um PUMP!" class="pump">
        <label>123k</label>
        <img src="../img/relevancia_vazia.png" alt="Aumente a relevância desse post!" class="relevancia">
        <label>90k</label>
      </div>
      <div class="profile-pic"></div>
      <div class="tweet-content">
        <div>
          <span class="username">Maria Souza</span>
          <span class="handle">@@mariasouza</span>
        </div>
        <div class="content">
          Outro exemplo de tweet. Flexbox é top demais para layouts de timeline.
        </div>
      </div>
    </div>
    <!-- Adicione mais tweets aqui -->
  </div>
  <button class="novaPostagem" onclick="comunidade().abrirModalNovaPostagem();">
    <img src="../img/novaPostagem.png">
  </button>

  <div id="loginPopup">
    @Html.Partial("_LoginPopup")
  </div>
</body>

</html>
