<head>
    <link rel="stylesheet" href="../css/menuLateral.css">
    <script></script>
</head>
<div class="header">
    <img src="../img/pump_preenchido.png" class="header-icon left-icon">
    <img src="../img/logout.png" class="header-icon right-icon" onclick="logout();">
</div>
<br>
<br>
<div>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Comunidade"
                asp-action="ComunidadeIndex">Comunidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Anuncios" asp-action="AnunciosIndex">Anuncios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Marketplace</a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="btnCriacaoConteudo" id="btnCriacaoConteudo">BOTÃO</button>
    <br>
    <br>
    <div class="user-info">
        <img src="../img/default_usuario.png" alt="Avatar do usuário" class="user-avatar" onclick="acessarPerfil();">
        <label class="username" onclick="acessarPerfil();">@@username_123</label>
    </div>
</div>

<script>
    function acessarPerfil() {
        alert("entrando no perfil");
    }

    function logout() {
        alert("saindo do site");
    }
</script>