<head>
    <link rel="stylesheet" href="../css/menuLateral.css">
</head>
<div>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Comunidade" asp-action="ComunidadeIndex">Comunidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Anuncios" asp-action="AnunciosIndex">Anuncios</a>
        </li>
    </ul>
</div>