body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, sans-serif;
   
}

/* Estilo do título "PRATIKA" */
.title {
    color: #00FF0A; /* Verde para combinar com as bordas */
    font-size: 28px;
    margin-bottom: 20px; /* Espaçamento entre o título e a caixa de login */
}

img{
    margin: 15px;
}

/* Estilo do quadrado com bordas */
.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo da label "esqueci minha senha" */
.forgot-password {
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: underline;
}

label{
    color: #ffffff;
}

.forgot-password:hover {
    color: #00FF0A;
}

.input-senha-email{
    background-color: black;
    border: 3px solid #00FF0A;
    margin: 5px;
    width: 300px;
    color:#ffffff;
}

.botao-login {
    color: black;
    background-color: #00FF0A;
}